# Jekyll (old)
_site
.sass-cache
vendor/bundle
.bundle

# Maven / Quarkus
target/
.mvn/wrapper/maven-wrapper.jar
*.class

# Node / Web Bundler
node_modules/
package-lock.json

# IDE
.codenvy
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
